nav {
    background-color: white;
    color: black;
}

nav ul li a,
ul.sidenav li a {
    color: black;
    font-weight: 800;
    font-family: 'Alata', sans-serif;
}

#menuicon {
    color: black;
}


/* font-family: 'Roboto Mono', monospace;
font-family: 'Playfair Display', serif;
font-family: 'Alata', sans-serif;
font-family: 'Bowlby One SC', cursive;
font-family: 'Girassol', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Gravitas One', cursive;
font-family: 'Rakkas', cursive; */