.fab {
    padding-left: 2vw;
}

#footertop {
    background-color: rgb(0, 0, 0, 0.8);
    font-size: 1em;
    font-family: 'Alata', sans-serif;
}

#footerbottom {
    background-color:  rgb(0, 0, 0, 1.0);
}

.socialLinks {
  transition: color 0.5s ease;
}

.socialLinks:hover {
  color: grey;
}

#dmb {
  color: white
}

.discogIcons {
  font-size: 4rem;
}

.musicLinks {
transition: color 0.5s ease;
}

.musicLinks:hover {
color: black;
}